# Chaves do Supabase (Obrigatório)
EXPO_PUBLIC_SUPABASE_URL=https://seu-projeto-aqui.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sua-chave-anonima-aqui

# Chaves do Expo (Obrigatório para Push Notifications)
EXPO_PUBLIC_EAS_PROJECT_ID=seu-project-id-do-expo-aqui
